h1{
	text-align: center;
	color: #55715c;
	background-color :#e2e9e4;
	width: 80%;
	margin: auto;
}
#conteneur{
	width: 80%;
	margin: auto;
	background-color: #e3e4ad;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.blockPhoto{
	padding: 5px 5px 5px 5px;
	border:1px white solid;	
	margin: auto;
}
img{
	width: 200px;
	heigth: auto;
	
}
#menu {
	
	
}
.icon {
	height: 15px;
	width: 15px;
}